<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <h1>Login</h1>
    <form method = 'POST'>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name = 'username' placeholder="Enter username" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name = 'password' class="form-control" id="password" placeholder="Enter password" required>
      </div>

      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <br>
    <br>


</body>
</html>
